.bienvenida-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background: linear-gradient(to bottom right, #282e3c, #2f3845);
  font-family: 'Segoe UI', sans-serif;
  padding: 2rem;
}

.logo-bienvenida {
  width: 120px;
  margin-bottom: 1rem;
}

.titulo-bienvenida {
  font-size: 2rem; /* Más pequeño que el h1 por defecto */
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.subtitulo-bienvenida {
  font-size: 1.2rem;
  color: #87b0f0;
  margin-bottom: 2rem;
}

.boton-iniciar {
  padding: 0.75rem 2rem;
  font-size: 1.1rem;
  background-color: #2b3e67;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.boton-iniciar:hover {
  background-color: #21273b;
}

