.bienvenida-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background: linear-gradient(to bottom right, #435071, #26313f);
  font-family: 'montserrat', sans-serif;
}

.logo-bienvenida {
  width: 120px;
  margin-bottom: 1rem;
}

.boton-iniciar {
  margin-top: 2rem;
  padding: 0.75rem 2rem;
  font-size: 1.2rem;
  background-color: #305094;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.boton-iniciar:hover {
  background-color: #1e2439;
}
.titulo-bienvenida {
  font-size: 1.5rem; /* Puedes probar con 1.5rem, 24px, etc. */
  font-weight: 600;
}
